footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
}


p{
    color: #8A8A8A;
    font-weight: 600;
    padding: 10px;
    margin: 0 0 0 5%;


}

.copyright{
    color: #8A8A8A;
    font-weight: 600;
    padding: 10px;
    justify-content: center;
    display: flex;
}

.social{
    padding: 10px;
    margin: 0 0 0 5%;

}

.social a{
    color: #8A8A8A;
    padding: 10px;
}
