*{
    background-color: #282c34;
}

.logo{
    position: fixed;
    margin-left: 5%;
    letter-spacing: 0.1pc;
    font-size: 2vw;
}




Nav{
    display: flex;
    flex-direction: row!important;
    justify-content: right;
    margin-right: 5%;
    margin-top: 5%;
   
}



.active{
    color: bisque;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
  
}

.inactive{
    color: #8A8A8A;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
}

.Link:hover{
    color: bisque;
}