.employeeCard{
      margin: 10vh;  
}

.employeeCard li{
      width: 13vw;  
      height: auto;
      padding: calc(5vw - 20px);
      border-radius: 25px;
      font-size: 1.2em;    
}


ul{
      list-style: none;
      display: flex;
      justify-content: last baseline;
      width: auto;
}

li{
      flex-direction: row;  
      background-color: #837388;     
}




@media screen and (max-width: 700px) {
     ul{
            margin-top: 10vh;
     }

     .employeeCard{
            margin: auto;  
}

      .employeeCard li{
            margin: auto;
            width: 50vw; 
            padding: calc(14vw - 20px);  
      }
      
}
